@page "{id:int}"

<title>@UI.Date.results![int.Parse((string)@RouteData.Values["id"]!)].Title</title>
<center>

<h3>@UI.Date.results![int.Parse((string)@RouteData.Values["id"]!)].Title</h3>
</center>

<p>@UI.Date.results![int.Parse((string)@RouteData.Values["id"]!)].GetText()</p>